* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fcf2ec;
}
    
header {
    color: white;
    margin: 5px; 
}
nav{
    background-color: rgb(3, 1, 0);
    
}
.nav-items{
  display: flex;
  flex-direction: row-reverse;
}

.movies{
    display: block;
    background-color: greenyellow;
}