* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #181311c2;
}
    
header {
    color: white;
    margin: 5px; 
}
nav{
    background-color: rgb(255, 185, 151);
    
}
.nav-items{
  display: flex;
  flex-direction: row-reverse;
}
.container{
    background-color: rgb(255, 204, 185);
    color: white;
    border-radius: 10px;
}
.container h1{
    font-size: 45px;
}
